<app-nav-bar></app-nav-bar>

<body>
    <div class="main">
        <div class="title">Vancouver</div>
        <div class="details">
            <div class="info">
                <h2>Sobre o Programa</h2>
                <p>Vancouver, na costa oeste do Canadá, é perfeita para intercâmbio. A cidade combina vida urbana com natureza e oferece alta qualidade de vida e segurança.

                    As instituições renomadas de Vancouver oferecem programas de idiomas e acadêmicos. Além dos estudos, você pode aproveitar festivais, museus e uma culinária diversificada, além de atividades ao ar livre como esqui e trilhas.
                    
                    Um intercâmbio em Vancouver é ideal para aprimorar o inglês e explorar uma das cidades mais belas do mundo.</p>
                <h2>Vídeos e Fotos</h2>
                <div class="media" >
                    <div><img [src]="imgcidade2" style="height:100%; width: auto;" alt=""></div>
                    <div><img [src]="imgcidade3" style="height:100%; width: auto;"alt=""></div>
                </div>
            </div>
            <div class="sidebar">
                <a href="#" class="button">Salvar Programa</a>
                <p><strong>Localização:</strong> Canadá, Vancouver</p>
                <p><strong>Duração:</strong> 2-3 Semanas</p>
                <p><strong>Preço:</strong> CAD 5.000</p>
            </div>
        </div>
        <div class="inclusion">
            <h2>O que está incluso</h2>
            <p>
               - Aulas de inglês intensivo e cursos acadêmicos em instituições renomadas (UBC, SFU).
                <br>
               - Casa de família, residências estudantis ou apartamentos compartilhados.
                <br>
               - Visitas a pontos turísticos, participação em eventos culturais e atividades ao ar livre.
                <br>
               - Orientação inicial e suporte acadêmico e pessoal contínuo.
                <br>
               - Encontros de networking e desenvolvimento de habilidades interpessoais.
                <br>
               - Transporte público eficiente e viagens de fim de semana para locais próximos.</p>
            <a href="#" class="button">Visitar Site</a>
        </div>
        <div class="reviews">
            <h2>Avaliações do Programa</h2>
            <div class="review">
                <div class="rating">
                    <div>
                        <strong>Usuário1924</strong><br>
                        03 de Março de 2024<br>
                        Título da análise
                    </div>
                    <div class="stars">4/5</div>
                </div>
                <p>Análise</p>
                <button>Útil?</button>
            </div>
            <div class="rating">
                <div>
                    <strong>Classificação média</strong><br>
                    125 avaliações
                </div>
                <div class="stars">4.5 ★★★★★</div>
            </div>
        </div>
    </div>
</body>
