.dropdown {
    position: relative;
    display: inline-block;
    height: 100%; 
}

.dropbtn {
    background-color: #BDCBF0;
    color: white;
    padding: 0; 
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 7vh; 
    width: auto; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    box-sizing: border-box;
    margin-left: 1vh;
}

.dropbox {
    height: 100%;
    width: auto; 
    object-fit: contain; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #001b5e;
    min-width: 10vw;
    min-height: 30vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; 
    left: auto; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block !important;
}

#drop {
    display: none;
}

#drop.show {
    display: block;
}

.drop-itens {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.itens {
    display: flex;
    align-items: center;
    padding: 1vh; 
    margin-left: 2vh;
    transition: background-color 0.3s; 
}

.itens:hover {
    background-color: #ddd; 
}

.item-image {
    width: 3vw;  
}

.itens a {
    color: black;
    text-decoration: none;
    font-size: 15pt;
}
