.nav {
  height: 8vh; 
  background-color:#001b5e;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0;
  margin: 0; 
}

.nav-item {
  display: flex;
  align-items: center;
}

.mundo {
 height: 8vh; 
 margin-left: 1vw;
}

.perfil-login {
  height: 8vh; 
  width: 8vh;
  border-radius: 50%;
  margin-bottom: 5px;
}

.dropdown {
  width: auto;
}

.dropbox {
  height: 8vh; 
  background-color:#001b5e;
}

.nav-item.dropdown {
  flex: 1;
}

.nav-item.mundo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-item.perfil-login {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.nav-item p{
  font-size: 20pt;
  color: aliceblue;
}
